{% extends "base.html" %} 

{% block title %} Product Details {% endblock %} 

{% block content %}
<div class="container mt-4 d-flex justify-content-center">
  <div class="card h-100 shadow-sm rounded-top-4" style="width: 350px;">
    <img src="{{ single_product.image.url }}" class="card-img-top img-fluid" alt="{{ single_product.product_name }}" style="width: 300px; height: 300px; object-fit: cover;" />
    <div class="card-body">
      <h2 class="card-title text-center">{{ single_product.product_name }}</h2>
      <p class="card-text"><strong>Description:</strong> {{ single_product.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <span class="text-muted"><strong>Price:</strong> ${{ single_product.price }}</span>
        <p><strong>Category:</strong> {{ single_product.category }}</p>
      </div>
      
      {% if single_product.stock > 0 %}
        <div class="d-grid gap-2 mt-3">
          <a href="{% url 'add_cart' single_product.id %}" class="btn btn-primary">Add to Cart</a>
        </div>
      {% else %}
        <p class="text-danger mt-3 text-center"><strong>Availability:</strong> Out Of Stock</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}



{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Detail</title>
  </head>
  <body>
    <header>
      <h1>Product Detail</h1>
    </header>

    <main>
      <h2>{{ single_product.product_name }}</h2>
      <img
        src="{{ single_product.image.url }}"
        alt="{{ single_product.name }}"
        width="300"
      />
      <p><strong>Price:</strong> ${{ single_product.price }}</p>
      <p><strong>Description:</strong>{{ single_product.description }}</p>
      <p><strong>Category:</strong> {{ single_product.category }}</p>

      {% if single_product.stock <= 0 %}
      <p><strong>Availability:</strong> Out Of Stock</p>
      {% else %}
      <a href="{% url 'add_cart' single_product.id %}">
        <button>Add to Cart</button>
      </a>
      {% endif %}
    </main>
  </body>
</html>
{% endcomment %}
