<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Store</title>
  </head>
  <body>
    <h2>Hello From Store Page</h2>

    <br />

    <h2>Back To <a href="/">Home</a> Page</h2>
    <h2><a href="{% url 'store' %}">All Products</a></h2>
    {% for category in links %}
    <a href="{{ category.get_url }}">{{ category.category_name }}</a>
    {% endfor %}

    <br />

    <h2>Welcome To Our Store</h2>
    <br />
    <h2>Found <b> {{product_count}} </b> Items Found</h2>
    <ul>
      {% for product in products %}
      <li>
        <a href="{{product.get_url}}"> <h2>{{ product.product_name }}</h2></a>
        <a href="{{ product.get_url }}">
          <img
            src="{{ product.image.url }}"
            alt="{{ product.product_name }}"
            width="100"
          />
        </a>
        <p>Price: ${{ product.price }}</p>
        <a href="">
          <button type="submit">add to cart</button>
        </a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
